body {
  margin: 0px;
  background-color: lightgrey;
  height: 90vh;

  font-family: "Courier New";
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(104, 104, 104);

  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.left-nav,
.right-nav {
  display: flex;
}

.menus {
  text-align: center;
  margin: -1px 30px;

  padding: 10px 0;

  width: 120px;
  border: 1px solid black;
}

.menus:hover {
  background-color: rgb(131, 131, 131);
  transform: scale(0.98);
}
#num {
  position: absolute;
  top: 20px;
  width: 118px;
  background: rgb(104, 104, 104);
  border: 1px solid black;
  visibility: hidden;
}
#range {
  width: 115px;
}
#container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.nums {
  background-color: green;
  /* width:30px; */

  border: 2px solid black;
  border-collapse: collapse;

  margin: 0 -1px;
}

.cur_num {
  background-color: rgb(250, 250, 144);
}
